
.stdMargin{
	margin: 25px auto;
}


.stdPadding{
	padding:20px 3% 20px 3%;
}

.stdBlankArea{
	margin: 5px 5px 5px 5px;
}

.stdHintBlock{
	width:800px;
	height:100px;
}

.stdMajorBlock{
	width:800px;
	height:240px;
}