

.greenBack{
	background:green;
}

.lightGreenBack{
	background:#ddffdd;
}

.yellowBack{
	background:yellow;
}

.grayBack{
	background:gray;
}

.lightGrayBack{
	background:#dddddd;
}

.lightRedBack{
	background:#dd6363;
}

.lightBlueBack{
	background:#ccffff;
}
